.reportModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: calc(var(--z-modal) + 100);
  padding: var(--spacing-lg);
  animation: fadeIn var(--transition-normal);
}

.reportContent {
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
  border-radius: var(--radius-lg);
  width: 100%;
  max-width: 500px;
  // padding: var(--spacing-xl);
  animation: slideUp var(--transition-slow);
  overflow: hidden;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md);
  border-bottom: 1px solid var(--text-dark-secondary);
}

.modalHeader h2 {
  margin-bottom: 0;
}

.reportTitle {
  font-size: 1.5rem;
  font-weight: 700;
  // color: var(--text-dark);
  margin: 0;
}

.reportTitle .icon {
  // color: red;
  font-size: 2rem;
  width: 32px;
  height: 27px;
  margin-right: 4px;
}

.labelIcon {
  color: var(--mat-sys-primary);
  font-size: 1rem !important;
  margin-right: 5px;
}

.modalBody {
  padding: var(--spacing-xl);
}

.reportTitle {
  font-size: 1.5rem;
  font-weight: 700;
  // color: var(--text-dark);
  margin-bottom: var(--spacing-lg);
  text-transform: capitalize;
}

.formGroup {
  margin-bottom: var(--spacing-lg);
}

.formGroup label {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: var(--spacing-sm);
}

.formGroup select:focus,
.formGroup textarea:focus {
  border-color: var(--mat-sys-primary);
}

.formGroup textarea {
  resize: none;
  min-height: 120px;
}

.reportActions {
  display: flex;
  gap: var(--spacing-md);
  justify-content: flex-end;
}

.cancelButton {
  padding: var(--spacing-md) var(--spacing-xl);
  background-color: transparent;
  color: var(--text-dark-secondary);
  border: 1px solid var(--border-dark);
  border-radius: var(--radius-lg);
  font-weight: 600;
  font-size: 0.875rem;
}

.cancelButton:hover {
  background-color: var(--bg-dark-tertiary);
  color: var(--text-dark);
}
