.contact-section {
  padding: 20px 20px;
  max-width: 600px;
  //   background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.divider {
  width: 80px;
  height: 2px;
  background-color: #ccc;
  margin: 20px auto;
}

.description {
  color: #777;
  font-size: 16px;
}

.contact-form .form-group {
  margin-bottom: 10px;
}

// .contact-form label {
//   font-size: 14px;
//   font-weight: bold;
// }

// .contact-form input,
// .contact-form textarea {
//   width: 100%;
//   padding: 10px;
//   border: 1px solid #ddd;
//   border-radius: 4px;
//   font-size: 14px;
// }

// .contact-form textarea {
//   resize: vertical;
// }

.submit-btn {
  width: 100%;
  //   padding: 12px;
  //   background-color: #0073e6;
  //   border: none;
  //   border-radius: 4px;
  //   font-size: 16px;
  //   cursor: pointer;
}

// .submit-btn:hover {
//   background-color: #005bb5;
// }
