<button matButton="outlined" color="primary" [matMenuTriggerFor]="menu">
  <mat-icon>add_circle</mat-icon>
  Create Post
</button>

<mat-menu #menu="matMenu" class="createPostMenu">
  <button mat-menu-item (click)="openCreatePostDialog()">
    <mat-icon class="menuIcon" color="accent">chat_bubble_outline</mat-icon>
    <div class="menuText">
      <span class="menuTitle" >Simple Post</span>
      <span class="menuDesc">Quick thoughts, updates, or media shares</span>
    </div>
  </button>

  <button mat-menu-item>
    <mat-icon class="menuIcon" color="accent">article</mat-icon>
    <div class="menuText">
      <span class="menuTitle" >Blog Post</span>
      <span class="menuDesc">Long-form writing with formatting & markdown</span>
    </div>
  </button>
<!--
  <button mat-menu-item (click)="openCreatePollDialog()">
    <mat-icon color="accent">poll</mat-icon>
    <div class="menuText">
      <span class="menuTitle">Poll</span>
      <span class="menuDesc">Ask your community and gather opinions</span>
    </div>
  </button> -->
</mat-menu>
