<mat-card-header class="flex flex-col mb-4">
  <mat-card-title class="text-center text-primary w-full text-2xl font-medium"
    >Welcome Back!</mat-card-title
  >
</mat-card-header>

<mat-card-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        required
        autocomplete="email"
        placeholder="Enter your email"
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
        Email is required
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
        Enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        required
        placeholder="Enter your password"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error
        *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched"
      >
        Password is required
      </mat-error>
    </mat-form-field>

    <button matButton="filled" class="primary w-full" [disabled]="form.invalid">Login</button>
  </form>

  <!-- Horizontal Divider -->
  <div class="flex items-center my-4">
    <hr class="flex-grow border-t border-gray-300" />
    <span class="px-4 text-sm text-gray-500">OR</span>
    <hr class="flex-grow border-t border-gray-300" />
  </div>
  <!-- Continue with Google Button -->
  <button matButton="filled" class="w-full google-btn">
    <i class="fa-brands fa-google"></i> Continue with Google
  </button>
  <p class="pt-4">
    <span class="text">You don't have an Account? </span>
    <a class="text-blue-500 underline" routerLink="/auth/register">Register</a>
  </p>
</mat-card-content>
