<div class="mediaGrid">
  <div
    *ngFor="let media of mediaFiles; index as i"
    class="mediaItem {{ isLoading ? 'disabled' : '' }}"
    (click)="preview(media.src)"
  >
    <img *ngIf="media.src.startsWith('data:image')" [src]="media.src" />
    <video *ngIf="media.src.startsWith('data:video')" [src]="media.src" muted></video>
    @if (!isLoading) {
    <button
      mat-icon-button
      color="warn"
      class="removeBtn"
      (click)="remove.emit(i); $event.stopPropagation()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    }
  </div>
</div>
