.page {
  padding-top: 50px;
  min-height: 100vh;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: var(--z-navbar);
  backdrop-filter: blur(10px);
  // position: fixed;
  // z-index: 100000;
  // width: 100%;
}
