<div class="preview-dialog">
  @if (isLoading) {
  <app-spinner></app-spinner>
  }@else{
  <ng-container *ngIf="notifications.length > 0; else emptyState">
    <div class="notificationsList">
      <mat-card
        *ngFor="let notification of notifications"
        class="notification"
        [ngClass]="{ unread: !notification.seen }"
        (click)="handleClickNotif(notification.id, notification.postId)"
      >
        <img
          [src]="notification.author.avatarUrl || '/assets/images/default-avatar.jpg'"
          [alt]="notification.author.name"
          class="notificationAvatar"
        />

        <div class="notificationContent">
          <p class="notificationText">
            <strong>{{ notification.author.name }}</strong>
            created new post
          </p>

          <div class="notificationMeta">
            <span>{{ formatDate(notification.createdAt) }}</span>
          </div>
        </div>

        <div *ngIf="!notification.seen" class="unreadBadge"></div>
      </mat-card>
    </div>
  </ng-container>
  }
  <div id="scroll-trigger"></div>
  <!-- EMPTY STATE -->
  <ng-template #emptyState>
    <div class="emptyState">
      <!-- Replace icon with Angular icon component if needed -->

      <h2 class="emptyTitle">No notifications yet</h2>
      <p class="emptyText">When someone interacts with your posts, you'll see it here</p>
    </div>
  </ng-template>
</div>
