@use '@angular/material' as mat;
@use './assets/styles/theme.css';
@import 'tailwindcss';

@include mat.core();

// Define theme using your existing CSS variables from theme.css
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$orange-palette,
      tertiary: mat.$yellow-palette,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$orange-palette,
      tertiary: mat.$yellow-palette,
    ),
  )
);

:root {
  @include mat.stepper-overrides(
    (
      container-color: var(--mat-sys-surface-container-low),
    )
  );
}

html {
  @include mat.all-component-themes($light-theme);

  // Override with your custom theme variables
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

html.dark-theme {
  @include mat.all-component-themes($dark-theme);

  // Override with your custom theme variables
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.primary {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-primary),
      filled-label-text-color: var(--mat-sys-on-primary),
    )
  );
}

.text-primary {
  color: var(--mat-sys-primary);
}

html.dark-theme .primary {
  @include mat.button-overrides(
    (
      filled-label-text-color: var(--mat-sys-on-primary),
    )
  );
}
