<div class="page">
  <main class="main">
    <div class="container">
      <div class="statsGrid">
        <mat-card class="statCard">
          <div class="statHeader">
            <span class="statLabel"><mat-icon>group</mat-icon> Total Users</span>
            <i class="statIcon"></i>
          </div>
          @if (isLoading) {} @else {
          <div class="statValue">{{ stats.totalUsers || 0 }}</div>
          }
        </mat-card>

        <mat-card class="statCard">
          <div class="statHeader">
            <span class="statLabel"><mat-icon>article</mat-icon> Total Posts</span>
            <i class="statIcon"></i>
          </div>
          @if (isLoading) {} @else {
          <div class="statValue">{{ stats.totalPosts || 0 }}</div>
          }
        </mat-card>

        <mat-card class="statCard">
          <div class="statHeader">
            <span class="statLabel"><mat-icon>report</mat-icon> Total Reports</span>
            <i class="statIcon"></i>
          </div>
          @if (isLoading) { } @else {
          <div class="statValue">{{ stats.totalReports || 0 }}</div>
          }
        </mat-card>
      </div>

      <!-- USER MANAGEMENT -->
      <mat-card class="section">
        <div class="sectionHeader">
          <h2 class="sectionTitle">User Management</h2>
          <a matButton routerLink="/admin/users" class="sectionLink"
            >Users Management <mat-icon>arrow_forward</mat-icon></a
          >
        </div>
        <p>Most active users</p>

        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <th>Role</th>
              <th>Posts</th>
            </tr>
          </thead>

          <tbody>
            @if (isLoading) { } @else {
            <tr *ngFor="let user of stats.threeActiveUsers">
              <td>
                <div class="userCell">
                  <!-- <img
                    [src]="user.avatar || '/placeholder-user.jpg'"
                    [alt]="user.name"
                    class="userAvatar"
                    /> -->
                  <div class="userInfo">
                    <span class="userName authorName" (click)="openUserCardDialog(user.username)">{{
                      user.name
                    }}</span>
                    <span
                      class="userUsername authorName"
                      (click)="openUserCardDialog(user.username)"
                      >@{{ user.username }}</span
                    >
                  </div>
                </div>
              </td>

              <td>
                <span class="badgeTable">{{ user.role === 'admin' ? 'Admin' : 'User' }}</span>
              </td>

              <td>{{ user.postsCount }}</td>
            </tr>
            }
          </tbody>
        </table>
      </mat-card>

      <!-- REPORTS -->
      <mat-card class="section">
        <div class="sectionHeader">
          <h2 class="sectionTitle">Reports Management</h2>
          <a
            matButton
            routerLink="/admin/reports"
            [queryParams]="{
              totalUserReports: stats.totalUserReports,
              totalPostReports: stats.totalPostReports,
              totalCommentReports: stats.totalCommentReports
            }"
            class="sectionLink"
            >Reports Management <mat-icon>arrow_forward</mat-icon></a
          >
        </div>
        <p>Last reports</p>

        <table class="table">
          <thead>
            <tr>
              <th>Reported User</th>
              <th>Reporter</th>
              <th>Category</th>
              <th>Reason</th>
              <!-- <th>Status</th> -->
            </tr>
          </thead>

          <tbody>
            @if (isLoading) { } @else {
            <tr *ngFor="let report of stats.lastThreeReports">
              <td>
                <div class="userCell">
                  <div class="userInfo">
                    <span
                      class="userName authorName"
                      (click)="openUserCardDialog(report.reportedUser?.username)"
                      >{{ report.reportedUser?.name || 'DELETED_USER' }}</span
                    >
                    <span
                      class="userUsername authorName"
                      (click)="openUserCardDialog(report.reportedUser?.username)"
                      >@{{ report.reportedUser?.username || 'deleted_user' }}</span
                    >
                  </div>
                </div>
              </td>

              <td>
                <div class="userInfo">
                  <span
                    class="userName authorName"
                    (click)="openUserCardDialog(report.reportedUser?.username)"
                    >{{ report.reporterUser?.name || 'DELETED_USER' }}</span
                  >
                  <span
                    class="userUsername authorName"
                    (click)="openUserCardDialog(report.reportedUser?.username)"
                    >@{{ report.reporterUser?.username || 'deleted_user' }}</span
                  >
                </div>
              </td>

              <td>
                <span class="badgeTable">{{ report.category }}</span>
              </td>

              <td>
                <div class="reportReason">
                  {{ report.reason }}
                </div>
              </td>

              <!-- <td>
                <mat-chip>{{ report.status }}</mat-chip>
              </td> -->
            </tr>
            }
          </tbody>
        </table>
      </mat-card>
    </div>
  </main>
</div>
