.page {
  padding-top: 10px;
  min-height: 100vh;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.main {
  padding: var(--spacing-xl) 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
}

.feedHeader {
  margin-bottom: var(--spacing-2xl);
  text-align: center;
}

.feedTitle {
  font-size: 2.5rem;
  font-weight: 700;
  // color: var(--text-dark);
  margin-bottom: var(--spacing-sm);
}

.feedSubtitle {
  font-size: 1.125rem;
  color: var(--text-dark-secondary);
}

@media (max-width: 640px) {
  .page {
    padding-top: 0px;
  }

  .container {
    padding: 0 var(--spacing-sm);
  }

  .feedHeader {
    margin-bottom: var(--spacing-md);
  }

  .feedTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  .feedSubtitle {
    font-size: 1rem;
  }
}
